---
layout: layouts/base.njk
title: protato | about
---
{% block path %} 
    <header class="path"><a href="/">root</a> / <a href="/about">about</a></header>
{% endblock %}

<h2>Greetings, I'm Protato!</h2>
<p> 
    About Protato
</p>