---
layout: layouts/base.njk
title: truffle goat | about
---
{% block path %} 
    <header class="path"><a href="/">root</a> / <a href="/about">about</a></header>
{% endblock %}

<h2>Greetings, We're Truffle Goat Games!</h2>
<p> 
    About Truffle Goat
</p>