---
layout: layouts/base.njk
title: protato | root
---
{% block path %}
    <header class="path">
        <a href="/">root</a> /</header>
{% endblock %}

<p>
    Greetings, I'm Protato! I dabble in all realms of programming, but I have 3 years of experience working with Roblox specifically.
    I specialize in progression and data systems, but I am willing to take on any programming work! I am very
    comfortable in the Luau Programming Language, and I have spent time digging into how the language is designed
    and implemented. Feel free to reach out with programming requests inside or outside of Roblox. While I may not know everything,
    I am willing to learn anything!
</p>

<div style="display: flex; gap: 5ch; flex-wrap: wrap;">
    <div style="display: flex; flex-direction: column;">
    <h2 style="margin-block-end: 0em; margin-block-start: 0em;">Latest Blog Posts</h2>
    {% for post in collections.posts | reverse %}
        {% if loop.index <= 5 %}
            <p>>> {{ post.date | dateFormatMonth }}: <a href="{{ post.url }}">{{ post.data.title }}</a>
            </p>
        {% endif %}
    {% endfor %}
    </div>
</div>