---
layout: layouts/base.njk
title: truffle goat | projects 
---
{% block path %} 
    <header class="path"><a href="/">root</a> / <a href="/projects">projects</a></header>
{% endblock %}

<h2>Greetings, We're Truffle Goat Games!</h2>
<p> 
    About Truffle Goat's Projects
</p>