---
layout: layouts/base.njk
title: protato | projects 
---
{% block path %} 
    <header class="path"><a href="/">root</a> / <a href="/projects">projects</a></header>
{% endblock %}

<h2>Greetings, I'm Protato!</h2>
<p> 
    About My Projects
</p>